@import "tailwindcss";
@plugin "daisyui" {
    themes: corporate --default
}

html {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body{
    background-color: #f1f5f9;
}

.hamburger{
    position: fixed;
    top: 1rem;
    left: 1rem;
}

li{
    margin-bottom: 0.5rem;
}

li p{
    pointer-events: none;
}

.avatar{
    cursor: pointer;
}